.filtro_preco {
    display: flex;
    gap: 5px;
}
.filtro_preco input{
    width: 100%;
}

#input_newsletter {
    display: flex;
    width: 100%;
    justify-content: center;
}

#product_area{
	position:relative;
	padding-top: 0;
}

.mix{
	display: none;
}
.product_item .mix{
	display: none;
}
.product_filter {
	margin-bottom: 10px;
}
.product_filter ul {
	margin: 0px 0 40px;
	padding: 0;
	list-style: none;
}
.product_filter ul li {
	font-weight: 400;
	text-transform: uppercase;
	display: inline-block;
	cursor: pointer;
	padding: 12px 22px;
	font-size: 13px;
	border: 1px solid transparent;
	transition: .5s;
	letter-spacing: 1px;
	border-radius: 20px;
	margin:0px;
	color:#777;
	line-height: 1;
}
.product_filter .filter.active {
	color: #33d286;
	border-color: #33d286;
}

.single_product{
    text-align: center;
    overflow: hidden;
	margin-bottom: 30px;	
	border: 1px solid rgba(0,0,0,0.02);
	padding-bottom: 20px;
	background: #fff;
	transition: .5s;
}
.single_product:hover{
	box-shadow: 5px 5px 25px rgba(0,0,0,0.03);
}
.product_image{
	overflow: hidden;
	position: relative;
}
.product_image img{
    width: 100%;
    height: auto;
    transition: all 1.5s ease 0s;
	
}

.single_product:hover img{
    transform: scale(1.2);
}
.single_product .box-content{
    width: 100%;
    padding: 17px 10px;
    background: #fff;
    position: absolute;
    bottom: -100px;
    left: 0;
    z-index: 1;
    transition: all 0.6s ease 0s;
	overflow: hidden;
	opacity: 0;
	background: rgba(220, 53, 69, .9);
	
}
.single_product:hover .box-content{
    bottom: 0;
	opacity: 1;
}
.box-content a {
	display: inline-block;
	color: #333;
	font-size: 14px;
	width: 35px;
	height: 35px;
	line-height: 35px;
	background: #fff;
	border: 1px solid #fff;
	border-radius: 50%;
	margin: 0 7px;
	transition:.5s;
}
.box-content a:hover {
	color: #33d286;
	border-color: #fff;
}

.product_btm_text p {
	color: #8E8E8E;
	text-transform: uppercase;
	font-size: 13px;
}
.product_btm_text h4 {
	text-transform: capitalize;
	margin-top: 17px;
	margin-bottom: 6px;
	font-size: 17px;
}
.product_btm_text h4,
.product_btm_text h4 a{
	color: #333;
}

.new_badge {
	display: inline-block;
	background:#dc3545;
	color: #fff;
	padding: 3px 12px;
	font-size: 14px;
	position: absolute;
	top: 15px;
	right: 15px;
	border-radius: 2px;
}
.single_product span.price{
	color: #33d286;
	font-size: 16px;
}
.no-padding{
	padding: 0;
}
.p_rating{
	color: #fec42d;
	cursor: pointer;
}

.btn_social { 
	width:100%; 
	float:left; 
	display:flex; 
	margin:auto; 
}
.btn_social ul  { 
	width:auto; 
	margin:auto; 
	float:left; 
	display:block; 
}
.btn_social ul li  { 
	position:relative; 
	background:#555555; 
	list-style:none; 
	float:left; 
	margin:5px; 
	z-index:1; 
	overflow:hidden; 
	border-radius:3px; 
	font-size:1.5em; 
	text-align:center; 
}
.btn_social ul li a  { 
	width:50px; 
	height:50px; 
	line-height:53px; 
	display:block; 
	text-decoration:none; 
	color:#fff; 
	transition:.4s;
}
.btn_social ul li::before { 
	transition:0.4s; 
	position:absolute; 
	content:''; 
	width:100%; 
	height:100%; 
	top:90%; 
	left:0; 
	background:#dc3545; 
	z-index:-1; 
	transform: scale(1); 
	transition:.4s; 
}
.btn_social ul li:hover::before { transition:0.4s; top:0%; }
.btn_social ul li a:hover       { color:#555555; }

 .master {
    width:40px;
}
.visa {
    width:50px;
}
.paypal {
    width:50px;
}
.discover {
    width: 50px;;
}